<div class="complete">
  <div class="almostdone">
    <h1>Sign up complete</h1>
    <h3>You're almost done!</h3>
    <p>
      Thank you for completing the account <br />
      set up, choose a category to
      <br />
      start wacking and packing!
    </p>
    <select name="categories">
      <option value="default">Choose a category</option>
      <option value="food" (click)="goToCategory('Food')">Food</option>
      <option value="appliances" (click)="goToCategory('Appliances')">
        Appliances
      </option>
      <option value="clothes" (click)="goToCategory('Clothes')">Clothes</option>
      <option value="books" (click)="goToCategory('Books')">Books</option>
    </select>
  </div>

  <div class="stars">
    <img src="assets\starsonthescreen.png" alt="" />
  </div>
</div>
