<div class="complete">
  <div class="almostdone">
    <h1>Sign up complete</h1>
    <h3>You're almost done!</h3>
    <p>
      Thank you for completing the account <br />
      set up, choose a category to
      <br />
      start waking and packing!
    </p>
    <select name="categories">
      <option value="default">Choose a category</option>
      <option value="food">Food</option>
      <option value="appliances">Appliances</option>
      <option value="clothes">Clothes</option>
      <option value="books">Books</option>
    </select>
  </div>

  <div class="stars">
    <img src="assets\starsonthescreen.png" alt="" />
  </div>
</div>
