<div class="homepage">
  <div class="introduction">
    <div class="worldlogo">
      <img src="assets\landingpageworld.png" alt="" />
    </div>
    <div class="whoweare">
      <h1>Who we are</h1>
      <p>
        Everyone has things in their house that they don't <br />
        use or want anymore. Instead of throwing it away <br />
        or having it collect dust in your house, why not <br />
        donate it instead?
      </p>
      <button class="signup">Sign up!</button>
    </div>
    <div class="stars">
      <img src="assets\landingpagesparkles.png" alt="" />
    </div>
  </div>

  <div class="divider"><div class="realdivider"></div></div>

  <div class="mission">
    <div class="ourmission">
      <div class="missionheader">
        <div class="ministar">
          <img src="assets\tinyiconstarnexttotext.png" alt="" />
        </div>
        <h1>Our Mission</h1>
      </div>
      <p>
        Every year, millions of tons of trash are thrown into <br />
        landfills and dumps, causing them to overflow and <br />
        pollute the environment. What if YOU could help fix <br />
        and clean our planet? Much of the waste thrown <br />
        away could have been given to someone else who <br />
        needed these unused and older products. Come <br />
        and join us in saving and restoring our environment <br />
        together.
      </p>
    </div>
    <div class="heart">
      <img src="assets\missionpagehearts.png" alt="" />
    </div>
  </div>
</div>
