<div class="navigationbar">
  <div class="logo"><img src="assets\logo for landing page.png" alt="" /></div>
  <div class="categories">
    <p (click)="tabClicked('food')">Food</p>
    <p (click)="tabClicked('appliances')">Appliances</p>
    <p (click)="tabClicked('clothes')">Clothes</p>
    <p (click)="tabClicked('books')">Books</p>
    <p class="points">0 Points</p>
  </div>
  <div class="profile">
    <p (click)="tabClicked('signup')">Sign Up</p>
    <p class="divider">|</p>
    <p class="login" (click)="tabClicked('login')">Log In</p>
  </div>
</div>
