<div class="profile">
    <div class="other50">
        <div class="header">
            <div class="tinystar">
                <img src="assets/tinyiconstarnexttotext.png" alt="">
            </div>
            <h1 class="header">Account</h1>
            <div class="profileicon">
                <img src="\assets\profileicon.png" alt="">
            </div>
        </div>
        <div class="profileinfo">
            <h2 class="nameheader">Name</h2>
            <p>Jane Doe</p>
            <h2 class="emailheader">Email</h2>
            <p>janedoe@gmail.com</p>
            <h2 class="addressheader">Address</h2>
            <p>1234 Main Street, Plano Texas</p>
            <h2 class="pointsheader">Points earned</h2>
            <p class="points">60 points</p>
        </div>
      
    </div>
 
    <div class="righticon">
        <img src="assets/overlayiconontherightofthesignuppage.png" alt="overlayiconontherightofthesignuppage">
    </div>

    








</div>
