<div class="rectangle96">
    <img src="assets\rectangle96.png" alt="rectangle96" />
    <!-- <img src="assets\foodicon.png" alt="foodicon" /> -->
    <div class="Food"><h1>Food</h1>
    
         </div>
</div>
<div class="fooddrives"><h2>Food Drives near you</h2>
    <div class="search"><form><input type="text" placeholder="Enter location here"></form></div>

</div>
<div class="name">
<h3 class="Name">Name</h3>
</div>

<div class="locationfillertext">
    <h3>Location Filler Text</h3>
    </div>


<div class="name1">
<h3 class="Name">Name</h3>
</div>

<div class="locationfillertext1">
    <h3>Location Filler Text</h3>
    </div>

    <div class="name2">
        <h3 class="Name">Name</h3>
        </div>

        <div class="locationfillertext2">
            <h3>Location Filler Text</h3>
        </div>

        <div class="name3">
        <h3 class="Name">Name</h3>
        </div>

        <div class="locationfillertext3">
            <h3>Location Filler Text</h3>
        </div>

        <div class="name4">
            <h3 class="Name">Name</h3>
            </div>

            <div class="locationfillertext4">
                <h3>Location Filler Text</h3>
            </div>

            <div class="name5">
                <h3 class="Name">Name</h3>
                </div>

                
            <div class="locationfillertext5">
                <h3>Location Filler Text</h3>
            </div>

            <div class="name6">
                <h3 class="Name">Name</h3>
                </div>
   <div class="locationfillertext6">
                <h3>Location Filler Text</h3>
            </div>

            <div class="name7">
                <h3 class="Name">Name</h3>
                </div>
                <div class="locationfillertext7">
                    <h3>Location Filler Text</h3>
                </div>
                <div class="name8">
                    <h3 class="Name">Name</h3>
                    </div>